<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout - grid</title>
    <link rel="stylesheet" href="./grid.css">
</head>
<body>
    <header>header</header>
    <div class="container">
        <div class="sidebar-left">sidebar</div>
        <main>
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>
        </main>
        <div class="sidebar-right">sidebar</div>
    </div>
    <footer>footer</footer>
</body>
</html>